.pagination-bar{
    display:flex
}
.pagination-bar > p {
    padding:10px
}
.paginate-items{
    display:flex;
}
.paginate-items >p {padding:10px;}
.page-number{
    background-color: transparent;
    border:none;
}
.active{
    border-bottom: 1px solid crimson;
}
.page-number:hover{
    cursor: pointer;
}
.strike{
    text-decoration: line-through;
}