.pagination-bar{
    display:flex
}
.pagination-bar > p {
    padding:10px
}
.paginate-items{
    display:flex;
}
.paginate-items >p {padding:10px;}
.page-number{
    background-color: transparent;
    border:none;
}
.active{
    border-bottom: 1px solid crimson;
}
.page-number:hover{
    cursor: pointer;
}
.strike{
    text-decoration: line-through;
}



.chips-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.chip p{
  background-color: rgb(211, 208, 208);
  padding: 5px 13px;
  border-radius: 20px;
}
.chip span{
  color:#cf0909;
  margin-left: 15px;
  cursor: pointer;
}
.tabContainer{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabHeadings{
  border:3px solid black;
  border-radius:3px;
  padding:10px 23px;
  /* margin:20px; */
  cursor:pointer;
  
}
.tabHeader{
display: flex;
width:300px;
justify-content: center;
}
.activeComp{
  border:3px solid black;
  width:300px;
  height:300px;
}
.profile{
  display:flex;
  flex-direction: column;
  gap:10px;
  padding:30px;
}
.navBtns{
  margin-top:30px;
  width:300px;
  display: flex;
  justify-content: space-around;
}


.themesDiv{
  display: flex;
  margin:100px;
  padding:100px;
  justify-content: center;
  gap:400px;
}
#lightTheme{
  font-size:100px;
}
#darkTheme{
  font-size:100px;
}
.dark{
  background-color: rgb(39, 38, 38);
  color:white;
  height: 100vh;
  width:100%;
}